@use "base/mixins" as m;
@use "base/variables" as v;

.video {
  position: relative;
  min-height: 50rem;
  max-height: 70rem;
  overflow: hidden;
  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(103, 96, 221);
    background: linear-gradient(
      270deg,
      rgba(103, 96, 221, 0.5) 0%,
      rgba(100, 3, 212, 0.7126291194432218) 46%,
      rgba(121, 9, 120, 0.1) 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  video {
    width: auto;
    display: block;

    @include m.desktop {
      width: 100%;
    }
  }
}

.contenido-video {
  z-index: 1;
  h2 {
    color: v.$blanco;
    font-size: 7rem;
    margin: 0;
  }
  p {
    background-color: v.$rosa;
    display: inline-block;
    padding: 1rem 2rem;
    color: v.$blanco;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0;
  }
}
